#app{
    background-color:#fff !important;
    /* height: 925px; */
}
body{
    background-color: white !important;
}
/* main{
    background-color: #ffffff;
    background-image: url(../images/imagall/anivio1-slider1.png);
    background-size: cover;
} */
.editp{
    text-align: center;
    padding: 20px;
    font-family: cursive;
    font-size: 20px;
    color: gray;
}
.container1{
    border-radius: 20px;
    background-color: #8cbadd42;
    color: black;
    padding: 20px;
    width: 550px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 1px 1px #ffffff;
}

.secondpart .image img{
    width: 500px;
    height: 300px;
    /*border: 4px;*/
    border-radius: 10px;
    margin-bottom: -20px;
}
.secondpart label{
    width: 500px;
    /*height: 40px;*/
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 6px -2px #bf2424
}
contauner form .formp{
    width: 500px;
    padding: 20px;
}

/*////////nav bar*/
nav {
    background-color: #f4f1ea !important;
}
.navbar-collapse ul{
    margin-right: 25px;
    font-size: 19px;

}
.navbar-dark .navbar-brand {
    color: black;
    margin-left: 40px;
}
nav ul{
    text-decoration: none;
    list-style: none;
}
nav a{
    color: black !important;
    list-style: none;

}

nav ul .nav-link {

    color: black !important;


}
nav ul li a:hover{
    color: red !important;
    transition: all .5s ease-in-out;
}


/*//show.categry*/
.card1{
    margin: auto;
    text-align: center;
    width: 387px;
    height: 410px;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
}
.card-header1{

    margin: auto;
    width: 125px;
    border-radius: 52%;
    /*background-color: red;*/
    padding: 17px;
    /*border: 2px solid black;*/
    border-right: 5px #6cbac4 solid;
    border-left: 5px #77bfdb73 solid;
}
.card-header1 h4{
    line-height: 17px;
}

.card-body1{
    display: flex;
    align-items: center;
    background-color: #d7dee54a;
    padding: 7px 7px 7px 25px;
    border-radius: 20px;
}
.card-body1 img {
    border-radius: 50%;
    margin-right: 30px;
    outline:#1f7b8596 solid 3px;
    outline-offset: 7px;
    width: 65px;
    height: 60px;
}
.end1 h3{
    font-weight: bold;
}



@media only screen and (max-width: 750px) {
    #app {

        height: auto;
        padding-bottom: 20px;
    }
    .card1{
        height: 515px;

    }
    footer{
        /*padding-top: 20px;*/
    }
}

/*<==========================>*/
/* css for home page  */
.carousel-control-prev {
    border:0px;
    opacity:-5;
    color: #1c1b1b; 
}
.carousel-control-next {
    border:0px;
    opacity:-5;
    color: #1c1b1b;
}
.carousel-control-prev:hover{
    opacity:0;

}
.carousel-control-next:hover{
    opacity:0;

}

header{
    position: relative;
    background-color:#fff !important;

}

.carousel-item .main1 h5{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 3px;
}
.carousel-item .main1 a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-width: 1px;
    border-radius: 0px;
    color: #333333 !important;
    background-color: rgba(240,90,102,0) !important;
    border: 1px solid #e1205e !important;
    padding: 15px 30px;
    text-decoration: none;


}
.carousel-item .main1 a:hover{
    background-color: #e1205e !important;
    color: white !important;
    transition: all .5s ease-in-out;
}

.carousel-item .main1{
    position: absolute;
    top: 36%;
    left: 11%;
    color: #333333;
    font-size: 56px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 66px;
  }
  .carousel-item .main1 h1{
    
    color: #333333;
    font-size: 56px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 66px;
  }
/* <===================> */
/* section2 */
.container .icon{
    font-size: 30px;
    background-color: #f7f7f7;
    color: #64646478;
    border-radius: 50%;
    width: 26%;
    padding: 7px;
    margin: auto;
}
/* for any card  */
.card{
    border: 0px solid white;
    /* padding-top: 18px; */
    margin-bottom: 20px;

}
.card-bodysec2{
    text-align: center;
}
.container .card-bodysec2 h5{
    font-weight: 600;
}
/* redcolom */
header .redcolom{
 
    width: 30%;
    margin:auto;
    background-color:#f6bcce;
    height: 3px;

}
/* <=======================> */
/* section3 */
.container .section3 ul{
display: flex;
justify-content: center;
}

.section3 .products .insideproduct h5:hover{
    color: red;
}
.section3 .products .insideproduct p{
opacity: 0.5;
}
.section3 .products .insideproduct p:hover{
    opacity: 1;
}
/* <=================> */
.section3 .products .card{
    position: relative;
  }
  
  .section3 .products .card .overlay {
    position: absolute;
    bottom: 175px;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 80%;
    height: 0;
    transition: .5s ease;
    margin: auto;
    
  }
  /* <==================> */
  .products .card:hover .overlay {
    height: 10%;
    transition: .5s ease;
    
  }
  
  .section3 .products .card .overlay .text {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .section3 .products .card .overlay .text i{
      margin-right: 5px;
      color: rgb(205 177 117);
    }
/* <=================> */
/* last section  */
.lastsection{
    background-image: url(../images/imagall/anivio1-newletter.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position:center;
 margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  
}


.lastsection .insidelastsection2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.lastsection .insidelastsection2  form input{
    width: 550px !important;
    height: 51px !important;
}
.lastsection .insidelastsection2 button{
    color: #ffffff;
    max-width: 100%;
    width: 45px;
    height: 45px;
    background-color: #e1205e;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 10px 16px 10px;
}


/* <=========================> */
/* <==========================> */
/* footer section  */
footer{
  
}
footer .footerinside{
        background-color: #f4f1ea;
    padding: 0px 0px 25px 0px;

}
footer .footerinside a{
    margin-right: 20px;
  color: black !important;
  font-size: 18px;
}






















/* <=======================> */
/* <=======================> */
/* <=======================> */
/* for testing cart  */
.main-section {
    /* background-color: #F8F8F8; */
    display: contents;
}
.dropdown{
    /* float:right; */
    /* padding-right: 30px; */
}
.btn{
    border:0px;
    margin:10px 0px;
    box-shadow:none !important;
}
.dropdown .cartdrobdown{
    padding: 20px;
    top: 62px !important;
    width: 350px !important;
    left: -280px !important;
    box-shadow: 0px 0px 2px 2px #f4f1ea;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:15px 0px;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:15px;
}
.cart-detail-product p{
    margin:0px;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#C2C2DC;
}
.checkout{
    border-top:1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary{
    border-radius:50px;
    height:50px;
}
.dropdown-menu:before{
    content: " ";
    position:absolute;
    top:-20px;
    right:50px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.thumbnail img {
    width: 100%;
}
.thumbnail .caption{
    margin: 7px;
}
.page {
    margin-top: 50px;
}
.btn-holder{
    text-align: center;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

    
    


@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
}
@media screen and (max-width: 990px) {

.responsivecare{
    display: contents;

}

.dropdown .cartdrobdown {
    padding: 14px;
    top: 55px !important;
    width: 230px !important;
    left: 15px !important;
    box-shadow: 0px 0px 2px 2px #f4f1ea;
}
.dropdown{
    float:none;
    padding-right: 30px;
}
}
/* <===================> */
/* <===================> */
  /* post page  */
  .postsec1{
    background-image: url(../images/imagall/blogbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 130px;
    /* padding-top: 20px; */
  }
  .postsec1 h1{
    font-size: 40px;
    font-weight: 700;
  }
  .postsec1 p{
      font-size: 20px;
  }
  /* postssec2  */
  .postssec2{
     position: relative;
  }
  .postssec2 .beforeimgcard{
      overflow: hidden;
      
  }
  .postssec2 img{
            overflow: hidden;

       transition: transform 1.5s ease;
    vertical-align: middle;
    max-width: 100%;
  }

  .postssec2 img:hover{
   
    transform: scale(1.3);

  }
 
  .postssec2 .post-date{
    position: absolute;
    color: #222;
    top: -28px;
    left: 20px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  }

  .postssec2 .post-date span{

  display: block;
  line-height: 1;
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: 500;
}

/* ///////////////////////////// */
/* ////////////////////////// */
/* poste readmore  */
.postereadmore .readmorese1{
    text-align: center;
}
.postereadmore .bigimg img{
    width: 100% !important;
    height: 500px !important;
}
.postereadmore .icons i{
    font-size: 22px;
    margin: 10px;
    color: white !important;
    padding: 10px;
    border-radius: 25px;
}

.readmoresec2{
    margin-top: 90px;

}
.readmoresec22 img{
    height: 400px !important;

}
.readmoresec3{

}
.readmoresec33{
display: inline-block;
}
.readmoresec3 .readmoresec33 img{
    height: 83px;
    width: 91px;
}
.readmoresec333{
    display: inline-block;
    line-height: 0px;

}
/* //////////////////// */
/* //////////////////////// */
/* commentss  */
.commentss{
    display: -webkit-inline-box;

}
.commentss .undercomments1{
    display: table-cell;
    padding-right: 24px;
}
.commentss .undercomments1 img{
    height: 70px !important;
    width: 70px !important;
    border-radius: 50px;
}
.commentss .undercomments2{
    display: inline-block;

}
/* ///////////////////////////// */
/* /////////////////////////////// */
/* pagination */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    width: max-content;
    margin: auto;
}
/* //////////////////////////// */
/* ///////////////////////////// */



/* section categories in home  */
.section10 {
    /* padding-top: 10%; */
    position: relative;
    overflow: hidden;
}
.section10 .beforebutton  {
    margin: auto;
  
}
.section10 .beforebutton2  {
      position: absolute;
    top: 66%;
    left: 135px;
    border-radius: 20px;

    margin-top: 16px;
    background-color: #f4f1ea !important;
    color: black !important;
    /* width: 120px; */
    font-size: 17px;
}
.section10 .beforebutton2  a:hover{
    color: white;
}


.section10 .beforebutton2:hover{
    background-color: tomato !important;
    color: white !important;
    transition: all .5s ease;

  }
  .section10 img{
    transition: transform .5s ease;
    vertical-align: middle;
    max-width: 100%;
  }
  .section10:hover img {
    transform: scale(1.1);
  }
  /* <================> */
/* document */
/* //////////////////////// */
/* /////////////////////// */
.document{
    text-align: center;
  
  }
  .document h2{
    font-size: 26px;
      line-height: 1.4em;
      color: #333333;
  }
  .document p{
    color: #979797;
    font-size: 14px;
    line-height: 1.6em;
  }
  /* ///////////////////// */
  /* /////////////////////// */
  /* #################################### */
  /* ################################# */
  @media screen and (max-width: 1050px) {
    .carousel-item .main1 {
        position: absolute;
        top: 30%;
        left: 11%;
        font-size: 26px;
        font-weight: 700;
    }
    .carousel-item .main1 h1 {
        font-size: 26px;
        font-weight: 700;
        line-height: 41px;
    }
    .carousel-item .main1 h5 {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 3px;
    }
    .readmoresec333 {
        display: inline-block;
        line-height: 0px;
        margin-top: 17px;
    }
  
    
  }

  @media screen and (max-width: 1050px) {

    .section10 .beforebutton2 {
        position: absolute;
        top: 63%;
        left: 30%;
        border-radius: 20px;
        margin-top: 16px;
        background-color: white !important;
        color: black !important;
        /* width: 120px; */
        font-size: 11px;
    }
}

  /* ################################### */
  @media screen and (max-width: 768px) {
    nav {
        margin-bottom: -21px;
    }
    .carousel-item .main1 {
        position: absolute;
        top: 19%;
        left: 5%;
        font-size: 1px;
    }
    .carousel-item .main1 h1 {
        font-size: 23px;
        line-height: 40px;
    }
    .carousel-item .main1 h5 {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 0px;
        letter-spacing: 3px;
    }
    /* ///////////////////////////// */
    .lastsection{
        height: 250px;
    }
    .lastsection .insidelastsection{
        padding: 40px;
    }
    .lastsection .insidelastsection h1{

    font-size: 18px;
    }
    .lastsection .insidelastsection h4{
        font-size: 16px;

    }
/* ################################################## */
.postssec2{
    margin-bottom: 40px;
}
.postereadmore .readmorese1 h1{
    font-size: 26px;
}
.commentss .undercomments1 {
    display: table-cell;
    padding-right: 8px;
}
.commentss .undercomments1 img {
    height: 64px !important;
    width: 64px !important;
}
.readmoresec2 {
    margin-top: 28px;
}
/* ####################################  */
.section10 .beforebutton2 {
    position: absolute;
    top: 66%;
    left: 42%;
    border-radius: 20px;
    margin-top: 16px;
    background-color: white !important;
    color: black !important;
    width: auto;
    font-size: 17px;
    text-align: center;

}
.postssec2 .beforeimgcard{
    overflow: hidden;
    display: block;
    
}
.formsearch{
    width: 79% !important;

}
  }

  /* #################################### */
  @media screen and (max-width: 400px) {
    .carousel-item .main1 {
        position: absolute;
        top: 19%;
        left: 5%;
        font-size: 1px;
    }
    .carousel-item .main1 h1 {
        font-size: 13px;
        line-height: 16px;
    }
    .carousel-item .main1 h5 {
        font-size: 8px;
        letter-spacing: 2px;


    }
    .carousel-item .main1 span{
        margin-left: 20px !important;
    }
    .carousel-item .main1 a {
        font-size: 10px;
        font-weight: 600;
        border-radius: 0px;
        padding: 7px 13px;
    }
    /* ############################################################  */
    /* code cart  */
    .dropdown .cartdrobdown {
        padding: 14px;
        top: 55px !important;
        width: 230px !important;
        left: -8px !important;
        box-shadow: 0px 0px 2px 2px #f4f1ea;
    }
    .dropdown{
        float:none;
        padding-right: 30px;
    }

    nav {
        margin-bottom: -21px;
    }
    /* ############################################################ */

    .section10 .beforebutton2 {
        position: absolute;
        top: 69%;
        left: 35%;
        margin-top: 16px;
        width: auto;
 
    }
    .formsearch{
        width: 173px !important;

    }
  }